# Community resources are contributed by users; Maintainers must review infrastructure and curation data.
# /.github/ @OWNER/maintainers
# /.community/ @OWNER/maintainers
# /pages/ @OWNER/maintainers
# /sections/ @OWNER/maintainers
# /lists/ @OWNER/maintainers
# /themes/ @OWNER/maintainers

* @janlay
